
	<div class="block">
  <%=link_to member do %>
      <img src="https://theunitedstates.io/images/congress/225x275/<%= member.bio_directory_id %>.jpg" alt="<%= member.short_title %><%= member.first_name %><%= member.last_name %>" class="headshot">
  <% end %>

  </div>  
 