<div class="page-header">
  <%= link_to congressional_members_path, class: 'btn btn-default' do %>
    All Congressional_members
  <% end %>
  <%= link_to edit_congressional_member_path(@congressional_member), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show congressional_member</h1>
</div>

<dl class="dl-horizontal">
  <dt>Headshot:</dt>
  <dd><img class="headshot" 
      src='https://theunitedstates.io/images/congress/225x275/<%= @congressional_member.bio_directory_id %>.jpg' 
      alt="headshot"  
      width="250" 
      height="275" />
  </dd>
  <dt>Title:</dt>
  <dd><%= @congressional_member.title %></dd>

  <dt>Short title:</dt>
  <dd><%= @congressional_member.short_title %></dd>

  <dt>Bio directory:</dt>
  <dd><%= @congressional_member.bio_directory_id %></dd>

  <dt>First name:</dt>
  <dd><%= @congressional_member.first_name %></dd>

  <dt>Middle name:</dt>
  <dd><%= @congressional_member.middle_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @congressional_member.last_name %></dd>

  <dt>Suffix:</dt>
  <dd><%= @congressional_member.suffix %></dd>

  <dt>Date of birth:</dt>
  <dd><%= @congressional_member.date_of_birth %></dd>

  <dt>Gender:</dt>
  <dd><%= @congressional_member.gender %></dd>

  <dt>Party:</dt>
  <dd><%= @congressional_member.party %></dd>

  <dt>Leadership role:</dt>
  <dd><%= @congressional_member.leadership_role %></dd>

  <dt>Twitter account:</dt>
  <dd><%= @congressional_member.twitter_account %></dd>

  <dt>Facebook account:</dt>
  <dd><%= @congressional_member.facebook_account %></dd>

  <dt>Youtube account:</dt>
  <dd><%= @congressional_member.youtube_account %></dd>

  <dt>Govtrack:</dt>
  <dd><%= @congressional_member.govtrack_id %></dd>

  <dt>Cspan:</dt>
  <dd><%= @congressional_member.cspan_id %></dd>

  <dt>Votesmart:</dt>
  <dd><%= @congressional_member.votesmart_id %></dd>

  <dt>Icpsr:</dt>
  <dd><%= @congressional_member.icpsr_id %></dd>

  <dt>Crp:</dt>
  <dd><%= @congressional_member.crp_id %></dd>

  <dt>Google entity:</dt>
  <dd><%= @congressional_member.google_entity_id %></dd>

  <dt>Fec candidate:</dt>
  <dd><%= @congressional_member.fec_candidate_id %></dd>

  <dt>Url:</dt>
  <dd><%= @congressional_member.url %></dd>

  <dt>Rss url:</dt>
  <dd><%= @congressional_member.rss_url %></dd>

  <dt>Contact form:</dt>
  <dd><%= @congressional_member.contact_form %></dd>

  <dt>In office:</dt>
  <dd><%= @congressional_member.in_office %></dd>

  <dt>Cook pvi:</dt>
  <dd><%= @congressional_member.cook_pvi %></dd>

  <dt>Dw nominate:</dt>
  <dd><%= @congressional_member.dw_nominate %></dd>

  <dt>Ideal point:</dt>
  <dd><%= @congressional_member.ideal_point %></dd>

  <dt>Seniority:</dt>
  <dd><%= @congressional_member.seniority %></dd>

  <dt>Next election:</dt>
  <dd><%= @congressional_member.next_election %></dd>

  <dt>Total votes:</dt>
  <dd><%= @congressional_member.total_votes %></dd>

  <dt>Missed votes:</dt>
  <dd><%= @congressional_member.missed_votes %></dd>

  <dt>Total present:</dt>
  <dd><%= @congressional_member.total_present %></dd>

  <dt>Ocd:</dt>
  <dd><%= @congressional_member.ocd_id %></dd>

  <dt>Office:</dt>
  <dd><%= @congressional_member.office %></dd>

  <dt>Phone:</dt>
  <dd><%= @congressional_member.phone %></dd>

  <dt>Fax:</dt>
  <dd><%= @congressional_member.fax %></dd>

  <dt>State:</dt>
  <dd><%= @congressional_member.state %></dd>

  <dt>Senate class:</dt>
  <dd><%= @congressional_member.senate_class %></dd>

  <dt>State rank:</dt>
  <dd><%= @congressional_member.state_rank %></dd>

  <dt>Lis:</dt>
  <dd><%= @congressional_member.lis_id %></dd>

  <dt>Missed votes pct:</dt>
  <dd><%= @congressional_member.missed_votes_pct %></dd>

  <dt>Votes with party pct:</dt>
  <dd><%= @congressional_member.votes_with_party_pct %></dd>

  <dt>Votes against party pct:</dt>
  <dd><%= @congressional_member.votes_against_party_pct %></dd>

</dl>
